{% extends 'base.html' %}

{% block content %}

<h2>Serving Size</h2>
<p>Selected food: <b>{{ food_desc }}</b></p>

<div class="container-serving">

    <form method="post">
        <select name="ing_measure" id="ing_measure" size="5" >
            {% for serving in servings %}
            <option value="{{ serving['measure_name'] }}">{{ serving['measure_name'] }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" name="btn" value="Select">
    </form>

</div>



{% endblock %}