{% extends 'base.html' %}

{% block content %}

<h1>Serving Size</h1>
<h3>{{ food_name }}</h3>

<div class="container">

    <div class="row">
        <div class="col-4">
            <form method="post">
                <select name="ing_measure" id="ing_measure" size="5" >
                    {% for serving in servings %}
                    <option value="{{ serving['conversion_factor_value'] }}">{{ serving['measure_name'] }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" name="btn" value="Select">
            </form>
        </div>
    </div>
</div>



{% endblock %}