{% extends 'base.html' %}

{% block content %}
<div class="mx-auto" style="width: 500px;">
    <h5 class="mb-4"><span style="font-weight:300;">Selected food: </span>{{ food_desc }}</h5>



    <form method="post">
        <select class="form-select mb-3" name="ing_measure" id="ing_measure" size="5" >
            {% for serving in servings %}
            <option value="{{ serving['measure_name'] }}">{{ serving['measure_name'] }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" name="btn" value="Select">
    </form>

</div>



{% endblock %}