{% extends 'base.html' %}

{% block content %}

<h4>Hello {{ request.session['user']['given_name'] }}</h4>

<ul>
    {% for bookmark in bookmarks %}
        <li key="{{ bookmark.id }}"><a href="{{ url_for('get_nutrients', food_code=bookmark.food_code, food_desc=bookmark.food_desc, serving_size=bookmark.serving_size) }}">
            {{ bookmark.food_desc }}, {{ bookmark.serving_size }} </a>
            <form method="post" action="{{ url_for('delete_bookmark', id_bookmark=bookmark.id) }}">
                <input class="btn btn-danger" type="submit" value="x"/>
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}