{% extends 'base.html' %}

{% block content %}


<div style="background-color:white; width:650px; margin:0px auto;">
{% if bookmarks %}
    <h4 class="mb-5">Hello {{ request.session['user']['given_name'] }}</h4>
    <p>Here are your bookmarked queries:</p>

    <div style="width:100%;" class="list-group bookmark-container">
        {% for bookmark in bookmarks %}
        <div style="display:flex; flex-direction:row;">
            <a class="list-group-item list-group-item-action" href="{{ url_for('get_nutrients', food_code=bookmark.food_code, food_desc=bookmark.food_desc, serving_size=bookmark.serving_size) }}">
                {{ bookmark.food_desc }}, {{ bookmark.serving_size }} </a>
            <form method="post" action="{{ url_for('delete_bookmark', id_bookmark=bookmark.id) }}" style="display:inline-block;">
                <input style="border-radius:0%; height:42px;" class="btn btn-light" type="submit" value="x"/>
            </form>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>No bookmarks :( <br>Make sure to save some!</p>
    <img style="color: blue;" src="{{ url_for('static', path='/img/drawers.png') }}"/>
    {% endif %}
</div>

{% endblock %}