{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto" style="width: 500px;">

        <h5 class="mb-4"><span style="font-weight:300;">Search item:</span>"{{ user_input }}"</h5>
        <form method="post">
            <select class="form-select mb-3" name="foodName" id="foodName" size="10" >
                {% for food in foods %}
                <option value="{{ food['food_code'] }};{{ food['food_description'] }}">{{ food['food_description'] }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" name="btn" value="Select">
        </form>
    </div>



{% endblock %}